* { 
    margin: 0; 
    padding: 0;
}

html, body { 
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#canvasWrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #myWebGLCanvas {
        /* position: fixed; */
        max-width: 100vw;
        max-height: 100vh;
    }
}


#title {
    display: block;
    position: fixed;
    top: 24px;
    right: 24px;
    filter: drop-shadow(0 0 5px #000);

    font-size: 36px;
    font-family: "bd-geminis", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00ff01;
    user-select: none;
}

#scorePanel {
    display: block;
    position: fixed;
    top: 24px;
    left: 24px;
    filter: drop-shadow(0 0 5px #000);

    h1 {
        font-size: 36px;
        font-family: "bd-geminis", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #00ff01;
        text-align: right;
        user-select: none;
    }
}

#explosionPanel {
    position: fixed;
    bottom: 24px;
    left: 24px;
    filter: drop-shadow(0 0 5px #000);

    h1 {
        font-size: 36px;
        font-family: "bd-geminis", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #00ff01;
        user-select: none;
    }

    #cooldownBar {
        position: relative;
        width: 350px;
        height: 32px;
        background-color: #00ff01;
        margin-bottom: 1vh;
    
        #progress {
            width: 0%;
            position: absolute;
            inset: 0 auto 0 0;
            background-color: #000;
            opacity: 0.5;
        }
    }
}

.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .bg {
        position: fixed;
        inset: 0 0 0 0;
        background-color: black;
        opacity: 0.5;
        z-index: 0;
    }

    .bg.loading {
        opacity: 1;
    }

    .text {
        text-align: center;
        font-family: "bd-geminis", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #00ff01;
        z-index: 50;

        h1 {
            font-size: 72px;
            user-select: none;
        }

        h2 {
            margin-top: 18px;
            font-size: 48px;
            cursor: pointer;
        }
    }
}